<div class="form-container">
    <h1>Welcome on Task Manager</h1>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" type="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password">
        </mat-form-field>
    </form>
    <p *ngIf="showError" class="error">Email ou mot de passe incorrect</p>
    <button mat-raised-button color="primary" (click)="onLoginClicked()">Login</button>
</div>