:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex-grow: 1;
}

footer {
}

footer mat-divider {
  margin: 12px;
}

footer-divider {
  margin: 12px;
}

footer p {
  text-align: center;
  color: #555;
}